{% extends 'base.html' %}

{% block first_row %}
<div style="background-color: chocolate; padding: 10 20 10 20;opacity:0.85;" class="rounded">
<h1 style="-webkit-text-fill-color: white;">Détails du produit</h1>
</div>

  <div class="row first_row_window rounded">
		<div class="col-md-8">
			<h3>
				{{ product }}
			</h3>

			<dl>
				<dt>Product code :</dt>
				<dd>{{ code }}</dd>
				<br>
				<dt>
					Nutriscore :
				</dt>
				<dd>
					{{ nutriscore }}
				</dd>
				<br>			
				<dt>
					Novagroup :
				</dt>
				<dd>
					{{ nova_groups }}
				</dd>
				<br>
				<dt>
					Categories :
				</dt>
				<dd>
					{{ categories }}
				</dd>
				<br>
				<br>
				<dt>
					Sel (pour 100gr) :
				</dt>
				<dd>
					{{ salt_100g }} gr
				</dd>
				<br>
				<dt>
					Matières grasses / Lipides (pour 100gr) :
				</dt>
				<dd>
					{{ fat_100g }} gr
				</dd>
				<br>
				<dt>
					Graisses saturées (pour 100gr) :
				</dt>
				<dd>
					{{ saturated_fat_100g }} gr
				</dd>
				<br>
				<dt>
					Sucres (pour 100gr) :
				</dt>
				<dd>
					{{ sugars_100g }} gr
				</dd>
				<br>
				<dt>
					Disponible dans les magasins :
				</dt>
				<br>				
	  </dl> 
	  
	  {% if stores %}
	  
	  <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 20px;">
		{% for store in stores %}
		<!-- <button type="button" class="btn btn-secondary">{{ store }}</button> -->
		<button type="button" class="btn btn-outline-primary" href="https://www.google.com/maps/search/{{ store }}/@43.6184794,3.8551742,12z/data=!3m1!4b1" 
			target="popup" 
			onclick='window.open("https://www.google.com/maps/search/{{ store }}/@43.6184794,3.8551742,12z/data=!3m1!4b1","popup","width=1200,height=800"); return false;'>
			{{ store }}
		  </button>
		{% endfor %}
	  </div>

	  {% endif %}

	  <!-- <h2 id="coordinates">coordinates</h2> -->
	  
<div>
	  <a class="btn btn-warning" href="{% url 'search:swap' code %}" role="button">Substituer</a>
	  <!-- /search/swap/{{product.id}}  -->
</div>
		</div>
		<div class="col-md-4 ml 4">
			<img alt="{{ product }}" src="{{ image }}" class="img-fluid rounded" />
		</div>
	</div>

{% endblock %}