{% extends 'base.html' %}

{% block first_row %}

{% load static %}

<div style="background-color: chocolate; padding: 10 20 10 20;opacity:0.85;" class="rounded">
    <h1 style="-webkit-text-fill-color: white;">Vos produits favoris</h1>
    </div>

<div class="row first_row_window rounded">

    {% if full_list %}
    <!-- <ul> -->
    {% for product in full_list %}

    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info border-success">
                <img class="card-img-top" src="{{ product.product_image }}">
                <img  class="card-img-overlay" src="{% get_static_prefix %}core/{{ product.nutriscore }}.png" alt="" style="float: right; margin-top: -45px; margin-left: 195px;width: 90px;">
                <div class="card-block">
                    <h5 class="card-title" style="height:50px;padding: 5 5 5 5;">{{ product.product_name|truncatechars:40 }}</h5>
                </div>
                <div class="card-footer">                    
                    <a href="/search/{{ product.id }}/" class="btn btn-info btn-sm" role="button">Détails</a>
                    <a href="{% url 'search:remove' product.id %}" class="btn btn-danger btn-sm" role="button">Retirer</a>                 
                </div>                
            </div>
    </div>


        <!-- <li><a href="/search/{{ product.id }}/">{{ product.product_name }}</a></li> -->
        <!-- <div class="col-md-4"></div>
            <div class="card" style="width: 18rem;">
                <img src="{{ product.product_image }}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">{{ product.product_name }}</p>
                <a href="/search/{{ product.id }}/" class="card-link">Détails</a>
                </div>
            </div>
        </div> -->
    {% endfor %}
    <!-- </ul> -->
    {% else %}
    <p>Aucun produit n'est disponible</p>
    {% endif %}

</div>

{% endblock %}