{% extends 'base.html' %}

{% block first_row %}

<div class="first_row_window rounded">

    <h2>Mentions légales</h2>   

<h3>PRÉSENTATION</h3>    
Conformément à la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans
l’économie numérique, notre site web créé met à disposition du public les
informations concernant notre société.
Les conditions suivantes s’appliquent à toute personne qui accède et utilise le site
web, les contenus et services qui y sont associés.
Eventuellement modifiables, nous vous invitons donc à consulter nos mentions
légales le plus souvent possible, de manière à en prendre connaissance
fréquemment.

<h3>EDITEUR</h3>  
Le site www.travelshop.fr appartient à la société ANTIDOTS GROUP dont le siège
est situé à l’adresse suivante : 16 avenue Victoria – 73 100 Aix-les-Bains – France.
Le Directeur de la publication : Mme S. Favier, en qualité Responsable
Communication
Courriel : contact@travelshop.fr
Tél : 0 811 480 470

<h3>HÉBERGEUR</h3> 
Le site www.travelshop.fr est hébergé par OVH, dont le siège est situé à l’adresse
suivante : 2 rue Kellermann – 59100 Roubaix– France.
Courriel : hosting@ml.ovh.net
SITE WEB Travelshop.fr
Les informations fournies sur le site www.travelshop.fr sont uniquement destinées
à donner un aperçu général des produits et services d’ANTIDOTS GROUP, sans 
prétendre à l’exhaustivité. Avant de vous baser sur les informations fournies sur ce
site, vous devez les vérifier et/ou les compléter auprès d’ANTIDOTS GROUP.
ANTIDOTS GROUP ne pourra être tenue pour responsable de quelque manière
que ce soit des conséquences directes ou indirectes engendrées par des pertes, des
retards liés à l’utilisation du présent site web ou à l’impossibilité de l’utiliser.
Sur son site, Travelshop.fr propose des liens vers d’autres sites. ANTIDOTS
GROUP n’exerce aucun contrôle sur les sites web autre que le sien et n’assume
aucune responsabilité concernant ces sites ou leurs contenus.
ANTIDOTS GROUP ne garantit pas l’absence d’erreurs typographiques,
d’imprécisions ou d’inexactitudes techniques sur le site. ANTIDOTS GROUP ne
garantit pas l’exactitude des informations publiées. Il vous appartient de vérifier
auprès d’ANTIDOTS GROUP les informations avant de prendre des décisions
relatives aux services, produits ou autres, décrits dans ce site web.

<h3>PROTECTION DES DONNÉES PERSONNELLES</h3> 
ANTIDOTS GROUP est susceptible de collecter et traiter des données à caractère
personnel des visiteurs de son site Internet, en tant que Responsable de Traitement,
au sens de la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers
et aux libertés modifiée. Cette loi est désignée dans la suite des présentes mentions
légales par le terme « Loi Informatique et Libertés ».
Par données à caractère personnel, nous entendons, conformément à la Loi
Informatique et Libertés, toute information relative à une personne physique
identifiée ou qui peut être identifiée, directement ou indirectement, par référence à
un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres.
ANTIDOTS GROUP est attaché au respect et à la protection de la vie privée. Il
s’engage à définir et appliquer les mesures adéquates afin de garantir la sécurité de
vos données personnelles. Afin de veiller à la bonne application de ces règles,
ANTIDOTS GROUP a désigné un Correspondant Informatique et Libertés (CIL)
qui est le relais privilégié avec la Commission Nationale de l’Informatique et des
Libertés (CNIL).

<h3> UTILISATION FAITE DES DONNÉES</h3>
Les données à caractère personnel recueillies via le site Internet Travelshop.fr, le
sont dans le but d’assurer les services d’ANTIDOTS GROUP, notamment :
• pour répondre à vos demandes exprimées via les formulaires ou en utilisant
les moyens de contact disponibles sur le site Internet Travelshop.fr,
• pour vous contacter au sujet d’enquêtes de satisfaction ou d’études de
marché,
• dans un objectif commercial si vous nous y avez autorisés,
• pour personnaliser votre interaction avec nos sites, faciliter votre navigation
et pour élaborer des statistiques d’utilisation du site Internet Travelshop.fr,
• pour une candidature à un poste au sein d’ANTIDOTS GROUP,
• pour développer un partenariat.
<h3>DESTINATAIRES DES DONNÉES</h3> 
Les données collectées sur le site Internet Travelshop.fr sont exclusivement
réservées à l’usage d’ANTIDOTS GROUP, et ne font l’objet d’aucune cession à
des tiers.
Afin de répondre au mieux à vos demandes et besoins (par exemple sélection de
l’offre de service la mieux adaptée, etc.), les données collectées peuvent
éventuellement être partagées aux filiales ou entités du Group.
<h3> SÉCURITÉ DES DONNÉES</h3>
ANTIDOTS GROUP s’engage à prendre toutes les précautions utiles afin de
préserver la sécurité et la confidentialité des données collectées en appliquant les
mesures techniques et organisationnelles adéquates.

<h3>COOKIES</h3> 
Afin d’optimiser et améliorer la qualité des services qui vous sont proposés et leur
adéquation avec vos attentes, ANTIDOTS GROUP est susceptible d’utiliser des «
cookies ».
En accédant au site Internet d’ANTIDOTS GROUP et en y poursuivant votre
navigation, vous fournissez votre accord à l’implémentation et l’utilisation de 
cookies sur votre terminal, et vous reconnaissez avoir pris connaissance de
l’information qui vous est fournie concernant l’utilisation de ces cookies, et des
moyens dont vous disposez notamment pour vous y opposer.
Pour plus d’informations sur l’utilisation de cookies par ANTIDOTS GROUP,
veuillez consulter notre Politique des Cookies.
CONSERVATION DES DONNÉES
Sauf règlementation spécifique applicable, ANTIDOTS GROUP conserve les
données personnelles collectées pendant la durée justifiée par la finalité de leur
traitement.
<h3> VOS DROITS AU REGARD DE LA LOI INFORMATIQUE ET LIBERTÉ</h3>
Conformément à la Loi Informatique et Libertés, vous disposez d’un droit d’accès,
de rectification et d’opposition aux données personnelles vous concernant.
Pour exercer ces droits, adressez-vous par courrier à ANTIDOTS GROUP – 16
avenue Victoria – 73 100 Aix-les-Bains
Conformément à la réglementation en vigueur, afin de justifier de votre identité,
votre demande doit être signée et accompagnée de la photocopie d’un titre
d’identité valide portant votre signature et préciser l’adresse à laquelle doit vous
parvenir la réponse.

<h3>DROIT DE PROPRIÉTÉ INTELLECTUELLE</h3> 
ANTIDOTS GROUP, le site 360timeline.com et son contenu (propre ou celui de
ses partenaires) sont protégés par le droit des marques et/ou le droit d’auteur et
autres droits. L’ensemble de ces éléments demeure la propriété exclusive
d’ANTIDOTS GROUP ou de ses partenaires. En application des dispositions du
Code de la propriété intellectuelle, des dispositions législatives et réglementaires de
tous pays et des conventions internationales, toute représentation et/ou
reproduction, ou encore utilisation, exploitation, intégrale ou partielle, de l’un 
quelconque des éléments mentionnés ci-dessus, faite sans le consentement
préalable et écrit d’ANTIDOTS GROUP ou de ses partenaires, est interdite.

</div>

{% endblock %}