<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/40c6803a98.js"></script>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/custom-style.css' %}" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C45525">
            <div class="container">
                <a class="navbar-brand" href="{% url 'search:index' %}"><img src="{% static 'core/logo_pur_beurre.png' %}" height=45px></a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link main_title" style="color: white;" href="{% url 'search:index' %}">Pure Beurre<span class="sr-only">(current)</span></a>
                    </li>           
                                       
                    </ul>
                 
                </div>                
                
                    {% if user.is_authenticated %}
                    <button class="btn btn-secondary mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.email }}
                    </button>
                    
                    <a href="{% url 'search:list_products' %}"><img src="{% static 'core/noun_Carrot_29691_cropped.png' %}" height=50px title="Mes produits favoris"></a>
                    <a href="{% url 'account_logout' %}"><img src="{% static 'core/disconnect.png' %}" height=40px  class="ml-4" title="Se déconnecter"></a> 
                                     
                    <!-- <button class="btn btn-default ml-2">
                    <a class="btn btn-default" href="{% url 'account_logout' %}">Disconnect</a>
                    </button> -->
                    
                    {% else %}                      
                       <a class="btn btn-primary mr-4" href="{% url 'account_signup' %}">Sign up</a>  
                       <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>                     
                    {% endif %}                                         
                
            </div>
        </nav>





        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-md-12 first_row_bg">
                    <div class="container ">
                    {% block first_row %}

                    {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {% block second_row %}

                {% endblock %}
                </div>
            </div>
            <div class="row" style="background-color: #C45525">
                <div class="col-md-12">
                {% block third_row %}

                {% endblock %}
                </div>
            </div>

           
            <div class="row" style="padding-top: 20">
                    
                <div class="col-md-6">
                    <p class="text-center">  <a href="{% url 'search:mentions' %}">Mentions légales</a></p> 
                </div>
                <div class="col-md-6">
                    <p class="text-center">Contact</p> 
                </div>
                    
            </div>

           
        </div>





</body>
</html>